@import './variables.scss';
@import './mixins.scss';

.custom_form {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-top:20px;
    input {
        border-radius: $borderRadius;
        padding: $inputPadding;
        margin-top:10px;
        background: orange;
    }
}