$page-padding: 40px;

$color:#ffc0cb;
$activeColor: #32cd32;
$backgroundColor:#bb34bb;
$textShadow: 5px 5px 10px #fa0404;
$fontSize: 50px;
$fontWeight: 900;
$page-padding: 40px;

$borderRadius: 20px;
$inputPadding: 20px;



$desktop: 768px;
